*{
    margin: 0%;
    padding: 0%;
   
}
.mainimage{
    display: flex;

   margin-left: 8%;
   

}
.img2{
    margin-left: 8%;
    border: 5px solid green;
    border-radius: 15px;
    opacity: 80%;
}
.img1{
   
    border: 5px solid green;
    border-radius: 15px;
    opacity: 80%;
}
.img3{
    margin-left: 8%;
    border: 5px solid green;
    border-radius: 15px;
    opacity: 80%;
    
}


.main2{
    display: flex;
   margin-top: 1%;
   margin-left: 8%;
   

}
.img5{
    margin-left: 8%;
    border: 5px solid green;
    border-radius: 15px;
    opacity: 80%;
}
.img4{
   
    border: 5px solid green;
    border-radius: 15px;
    opacity: 80%;
}
.img6{
    margin-left: 8%;
    border: 5px solid #008000;
    border-radius: 15px;
    opacity: 80%;
    
}



.main3{
    display: flex;
   margin-top: 1%;
   margin-left: 8%;
 
 
  }
.img8{
 margin-left: 8%;
 border: 5px solid green;
 border-radius: 15px;
 opacity: 80%;
}
.img7{
    opacity: 80%;
 border: 5px solid green;
 border-radius: 15px;
}
.img9{
 margin-left: 8%;
 border: 5px solid green;
 border-radius: 15px;
 opacity: 80%;
 
}